* {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
  width: 100%;
  padding: 0;
  height: 200px;
  border: 0;
}

.resumo {
  font-size: 24px;
  padding: 24px;
  text-align: justify;
}

section {
  padding: 50px;
  width: 25%;
  float: left;
  height: 900px;
  overflow: auto;
}

h2 {
  font-size: 35px;
}

a {
  font-size: 20px;
  padding-left: 25px;
}

img {
  padding: 20px;
  width: 90%;
}

@media (max-width: 900px) {
  iframe {
    height: 200px;
  }
  section {
    float: left;
    height: auto;
    width: auto;
    padding: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .publicacao {
    font-size: 10px;
  }
  .resumo {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
}
